.root {
  -fx-background-image: url("bookingsBackground.jpg");
}

.btn {
  -fx-border-radius: 4px;
  -fx-background-color: #ffffff;
  -fx-cursor: hand;
}

}

.btn:hover {
  -fx-background-color: #000000;
  -fx-border-color: transparent transparent #cdbf54  transparent;
  -fx-text-fill: white;
}

.button:hover {
  -fx-background-color: #000000;
  -fx-border-color: transparent transparent #8f740a transparent;
  -fx-text-fill: white;
}

#bookButton {
  -fx-border-color: transparent transparent #8f740a transparent;
  -fx-border-width: 1px;
}