.btn{
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color:  rgb(235, 180, 28);
}

.btn:hover{
        -fx-background-color: rgb(235,180,28);
        -fx-text-fill: white;
        -fx-cursor: hand;
}

.root{
    -fx-background-color: rgb(222, 220, 215);
    -fx-background-position: center;
}

.separator *.line{
    -fx-background-color: black;
}

.field {
-fx-background-color: transparent;
-fx-border-color:  #8d8a27;
-fx-border-width:  0px 0px 2px 0px;
-fx-border-radius: 0px;
-fx-text-fill: white;
/*
-fx-padding: 5px 5px 0px 5px;
*/
}

.field .floating-text {
-fx-background-color: transparent;
-fx-text-fill: #a9a9a9;
}

.field:floating .floating-text {
	-fx-background-color: transparent;
}